
body {
  /*
    Morning Sky: #CAE4DB
    Honey: #DCAE1D
    Cerulean: #00303F
    Mist: #7A9D96

    Deep Purple: #1d1145
    Trapper Keeper Green: #0db4b9
    Pink Boot: #f2a1a1
    Modern Pink Backpack: #e76d89
  */

  /*background-image: url('https://visme.co/blog/wp-content/uploads/2017/07/50-Beautiful-and-Minimalist-Presentation-Backgrounds-025.jpg');*/
  background-position:center;
  background-size:cover;
  background-repeat:no-repeat;
  min-height:100%;
  background-color: #7A9D96;
  font-family: "Raleway";
  font-weight: 300;
  font-size: 16px;
  color: #555;
  -webkit-font-smoothing: antialiased;
  -webkit-overflow-scrolling: touch;
  margin-top: 70px;
  margin-top: 0px;
}

h1, h2, h3, h4, h5, h6 {
  font-family: "Raleway";
  font-weight: 300;
  /*color: #000;*/
}

/* Paragraph & Typographic */

p {
  line-height: 28px;
  margin-bottom: 25px;
}

.centered {
  text-align: center;
}

/* Links */

a {
  color: #00303F; /*#f85c37;*/
  word-wrap: break-word;
  transition: color 0.1s ease-in, background 0.1s ease-in;
}

a:hover, a:focus {
  color: #7b7b7b;
  text-decoration: none;
  outline: 0;
}

a:before, a:after {
  transition: color 0.1s ease-in, background 0.1s ease-in;
}

hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #ccc;
  margin: 1em 0;
  padding: 0;
}

.navbar {
  font-weight: 800;
  font-size: 14px;
  padding-top: 15px;
  padding-bottom: 15px;
}

.navbar-header {
    background-color: #DCAE1D;
}

.navbar-inverse {
  background: #2d2d2d;
  border-color: #2d2d2d;
}

.navbar-inverse .navbar-nav>.active>a {
  background-color: #DCAE1D;
}

.navbar-inverse .navbar-brand {
  color: #999999;
  background-color: #DCAE1D;
  font-weight: bolder;
  font-size: 22px;
  letter-spacing: 1px;
}

.navbar-inverse .navbar-brand i {
  color: #00303F;
  font-size: 22px;
  letter-spacing: 1px;
}



/* ==========================================================================
   Wrap Sections
   ========================================================================== */

#headerwrap {
  margin-top: -10px;
  padding-top: 20px;
  text-align: center;
  background-attachment: relative;
  background-position: center center;
  min-height: 675px;
  width: 100%;
  -webkit-background-size: 100%;
  -moz-background-size: 100%;
  -o-background-size: 100%;
  background-size: 100%;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

#headerwrap h1 {
  margin-top: 100px;
  color: #E56B1F;
  font-size: 70px;
  font-weight: 300;
  letter-spacing: 3px;
}

#headerwrap h2 {
  color: white;
  font-size: 40px;
  font-weight: 700;
  letter-spacing: 2px;
  /*text-transform: uppercase;*/
}

@media (max-width: 768px ) {
  #headerwrap h1 {
    font-size: 50px;
  }

  #headerwrap h2 {
    font-size: 30px;
  }
}

/* Blue Wrap */

#blue {
  background: #0db4b9/*#3498db*/;
  padding-top: 35px;
  padding-bottom: 35px;
}

#blue h4 {
  color: white;
  font-weight: 700;
}

#blue h2 {
  color: white;
}

#blue p {
  color: white;
}

/* Footer Wrap */

#f {
  background: #2d2d2d;
  padding-top: 30px;
  padding-bottom: 30px;
}

#f i {
  color: #bdbdbd;
  font-size: 30px;
  padding: 20px;
}

#f i:hover {
  color: #ff7878;
}


@-webkit-keyframes animate-loading {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }

  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

@keyframes animate-loading {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }

  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}


/* Copyrights */

#copyrights {
  background: #222222;
  padding: 20px 0;
  text-align: center;
  color: #fff;
}

#copyrights p {
  margin-bottom: 5px;
}

.credits {
  color: #999;
}

/* Custom Tweeter Styles */
#tweet {
  color: white;
}

.section-one, .section-two, .section-three {
  background-color: #F5E6CC;
}
.section-two h1 {
  color: #E56B1F;
}

.item {
  width: 275px;
  height: 400px;
  margin: 50px auto;
  padding-top: 25px;
  background: #ccc;
  text-align: center;
  font-size: 3em;
}

/*.featuresSection {
    margin: 0 auto;
    width: 100%;
    padding: 30px;
}*/

.feature-1 {
  margin: 0 auto;
}
.newFeatures, .happyUsers {
  width: 375px;
  height: 400px;
  margin: auto auto;
  padding-top: 50px;
  background: #ccc;
  text-align: center;
  font-size: 3em;
}

.newFeatures ul li {
  font-size: 18px;
  color: white;
}

.itemWaitingFor {
  width: 500px;
  height: 500px;
  margin: 50px auto;
  padding-top: 75px;
  background: #ccc;
  text-align: center;
  color: #FFF;
  font-size: 3em;
}

.morningSky {
  background-color: #CAE4DB;
  color: white;
}

.honey {
  background-color: #DCAE1D;
  color: white;
}

.pink {
  background-color: #D81FDE;
  color: white;
}
.cerulean {
  background-color: #00303F;
  color: white;
}

.mist {
  background-color: #7A9D96;
  color: white;
}

.trapperKeeperGreen {
  background-color: #0db4b9;
  color: white;
}

.blinking{
    animation:blinkingText 2.5s infinite;
}

@keyframes blinkingText{
    0%{     color: #CAE4DB;    }
    49%{    color: transparent; }
    50%{    color: #CAE4DB; }
    99%{    color:transparent;  }
    100%{   color: #CAE4DB;    }
}

@keyframes wiggle {
    0% { transform: rotate(0deg); }
   80% { transform: rotate(0deg); }
   85% { transform: rotate(5deg); }
   95% { transform: rotate(-5deg); }
  100% { transform: rotate(0deg); }
}

.wiggle {  
  animation: wiggle 1.5s infinite;
}

.award {
  background-color: #F1931B;
}

.pimg1, .pimg2, .pimg3{
  position:relative;
  opacity:0.70;
  background-position:center;
  background-size:cover;
  background-repeat:no-repeat;
  background-attachment:fixed;
}

.pimg1{
  background-image:url('http://www.kinyu-z.net/data/wallpapers/69/943203.png');
  min-height:100%;
}

.pimg2{
  background-image:url('http://www.matsim.org/files/logos/background_300dpi.png');
  min-height:400px;
}

.pimg3{
  background-image:url('http://www.matsim.org/files/logos/background_300dpi.png');
  min-height:400px;
}

.ptext {
  position:absolute;
  top:50%;
  width:100%;
  text-align:center;
  color:#000;
  font-size:27px;
  letter-spacing:8px;
  text-transform:uppercase;
}

.section {
  text-align:center;
  padding:50px 100px;
}

.section-light {
  background-color:#f4f4f4;
  color:#666;
}

.section-dark {
  background-color:#282e34;
  color:#ddd;
}

.feature-1, .happy-user-1 {
  /*margin: 0 auto;*/
  /*max-width: 400px;*/
}

.feature-2, .happy-user-2 {
  /*margin: 0 auto;*/
  /*max-width: 400px;*/
}

.feature-3, .happy-user-3 {
  /*margin: 0 auto;*/
  /*max-width: 400px;*/
}

.ptext .border{
  background-color:#111;
  color:#fff;
  padding:20px;
}

.ptext .border.trans{
  background-color:transparent;
}

@media(max-width:568px){
  .pimg1, .pimg2, .pimg3{
    background-attachment:scroll;
  }
}

.tippy-tool.blue-theme .tippy-backdrop {
  background-color: blue;
}