<template>
	<li><a id="like" href="#" @click="likeTweet">Like Tweet</a></li>
</template>

<script>
	export default {
		name: "LikeComponent",
		props: ['tweetId'],
		data() {
	 		return {
	 			count: 0,
	 			like: []
	 		}
 		},
    	methods: {
    		likeTweet() {
    			var like_count = 0;
    			axios("like/" + this.tweetId, {
    				method: "POST",
    				data: like_count,
    			}).then(function (response) {
    				like_count = response.data;
    				this.$emit("liketweet", response.data);
    			}).catch(error => {
  					console.log(error.message);
				});
 			}

    	}
	}
</script>
