<template>
	<div>
		<div class="row">
			<div class="form-group ml-4">			
    			<label for="searchItem">Search</label>		
				<input class="form-control"
					@keyup.enter="getGifs" 
					type="text" 
					v-model="searchQuery"
				>
			</div>
			<div class="form-group ml-2 mt-4 pt-2">					
				<button type="button" class="btn btn-warning" @click="getGifs">Search</button>
			</div>
		</div>

		<div class="row">				
			<div v-show="searchResults.length > 0" class="preview-window ml-2 mb-2 col-md-11">
				<img class="border border-warning gif-preview ml-1 mr-1 mb-1" width="240" height="200" v-bind:id="index" @click="selectImage(gif.title, gif.images.downsized.url)" v-for="(gif, index) in searchResults" :src="gif.images.downsized.url" >
			</div>
		</div>
		
		<div class="row">

			<div class="card bg-warning ml-4 mt-2 mb-2" style="width: 18rem;" v-for="(gif, index) in selectedGifs">
					<img class="border border-warning ml-4 pt-2 mb-1" v-bind:id="index" :src="gif.url" width="240" height="200">
					<div class="card-body">
					<p class="card-text text-center bg-danger text-white">{{ gif.title }}</p>
				</div>
			</div>			
		</div>	
						
	</div>
</template>

<script>
	export default {
		data(){
				return {
					searchQuery: "",			
					limit: 20,
					searchResults: [],
					selectedGifs: []
				}
		},
		methods: {
			getGifs(){
				this.clearSearchResults();
				axios.get("http://api.giphy.com/v1/gifs/search?q=" + this.searchQuery + "&api_key=tdgOAbfyBOjEdCk4eGmYZCDszCk1Oahp&limit=" + this.limit)
				.then((response) => {
					this.searchResults = response.data.data;
				})
				.catch(err => console.log(err));
			},

			clearSearchResults() {
				this.searchResults = [];
			},

			selectImage(title, url) {
				var gif = {
					title: title,
					url: url
				};
				
				// add the selected image to the selectedGifs array.
				this.selectedGifs.push(gif);
				this.clearSearchResults();
				this.searchQuery = "";
			},

		}
	}
</script>