<template>
	<div>
		<div class="row">
			<div class="form-group ml-4">			
    			<label for="searchItem">Search</label>		
				<input class="form-control"
					@keyup.enter="getGifs()" 
					type="text" 
					v-model="searchQuery"
				>
			</div>
			<div class="form-group ml-2 mt-4 pt-2">					
				<button type="button" class="btn btn-warning" @click="getGifs()">Search</button>
			</div>

		</div>

		<div class="row">				
			<div v-show="searchResults.length > 0" class="preview-window ml-2 mb-2 col-md-11">
				<img class="border border-warning gif-preview ml-1 mr-1 mb-1" width="240" height="200" v-bind:id="index" @click="selectImage(gif.title, gif.images.downsized.url, gif.images.downsized.height, gif.images.downsized.width)" v-for="(gif, index) in searchResults" :src="gif.images.downsized.url" >
			</div>
			<slot>

			</slot>
		</div>

	</div>
</template>

<script>
	export default {
		data(){
				
				return {
					searchQuery: "",			
					limit: 20,
					searchResults: [],
					selectedGifs: [],
					gifUrl: "",
					gifWidth: 0,
					gifHeight: 0
				}
		},
		methods: {
			getGifs(){
				this.clearSearchResults();
				axios.get("http://api.giphy.com/v1/gifs/search?q=" + this.searchQuery + "&api_key=tdgOAbfyBOjEdCk4eGmYZCDszCk1Oahp&limit=" + this.limit)
				.then((response) => {
					this.searchResults = response.data.data;
				})
				.catch(err => console.log(err));
			},

			clearSearchResults() {
				this.searchResults = [];
			},

			clearSelectedGifs() {
				this.selectedGifs = [];
			},
			selectImage(title, url, height, width) {
				var gif = {
					height: height,
					width: width,
					title: title,
					url: url
				};
				
				// add the selected image to the selectedGifs array.
				this.clearSelectedGifs();
				this.selectedGifs.push(gif);
				this.clearSearchResults();
				this.searchQuery = "";
				this.gifUrl = url;
				this.gifWidth = width;
				this.gifHeight = height;
				this.$emit('selectedImage', gif);

			}
		}
	}
</script>