<template>
	<h5>{{ likeCount }}</h5>
</template>

<script>
	
	export default {
		name: "LikeCountComponent",
		props: ['tweetId','likeCount'],
		data() {
	 		return {
	 			like_count: ''
	 		}
 		},
 		created() {
 			axios.get('/like/' + this.tweetId)
 			.then(response => {
 				this.like_count = response.data;
 				console.log(response.data);
 			});
 		},
	}
</script>