<template>
	<li><a id="like" href="" @click="likeTweet">Like Tweet</a></li>
</template>

<script>
    import LikeCountComponent from './LikeCountComponent.vue'
	export default {
		name: "LikeComponent",
		props: ['tweetId'],
		data() {
	 		return {
	 			count: 0,
	 			like: []
	 		}
 		},
    	methods: {
    		likeTweet() {
    			var like_count = 0;
    			axios("/like/" + this.tweetId, {
    				method: "GET"
    			}).then(function (response) {
                    this.count = response.data;
                    LikeCountComponent.$emit('update-like-count', this.count);
    			}).catch(error => {
  					console.log(error.message);
				});
 			}

    	}
	}
</script>
