<template>
	<div class="card">

		
	</div>
</template>

<script>
	export default {
		name: "UserComponent",
		props: ['userId'],
		data() {
	 		return {
	 			user: []
	 		}
 		},
    	methods: {
    		getUserInfo() {
    		'/user/{id}/show'
    			axios("/user/" + userId + "/show", {
    				method: "GET"
    			}).then(function (response) {
                    this.user = response.data;
    			}).catch(error => {
  					console.log(error.message);
				});
 			}

    	}
	}
</script>
